.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}
.App-header {
  font-size: 2rem;
  font-family: "Mali";
  margin-left: 4rem;
  pointer-events: none;
}
.current-month {
  font-size: 3rem;
  font-family: "Mali";
  pointer-events: none;
}

.bottom-buttons {
  padding: 0.5rem;
  font-family: "Mali";
}
.nav-input {
  background-color: inherit;
  border: none;
  font-size: 2rem;
  color: #7d99cc;
}
.nav-input:hover,
.nav-input:enabled {
  border-color: ghostwhite !important;
  border: none;
}

.navbar-header {
  width: 100%;
  display: flex;
}

.calendar-table {
  margin-top: 2rem;
}

.sign-link {
  color: #203763;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.drop-width {
  min-width: 4rem;
}

.drop-button:focus {
  outline: none !important;
}
