.cell:hover,
.hour:hover {
  background-color: rgba(104, 170, 255, 0.6);
  color: white;
}

.cell-header-info {
  font-size: 0.8rem;
  padding: 0.5rem;
  min-height: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.month {
  border: none !important;
}
.week {
  min-height: 6rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-left: 0.25px solid #c2cad4;
}
.day {
  height: 6rem;
  flex: 1;
  border: 0.25px solid #c2cad4;
}

.day-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}
.hour {
  border: 0.25px solid #c2cad4;
  flex: 1;
  height: 3rem;
}

.day-week-header {
  height: 3rem;
  width: 100%;
  border: 0.25px solid #8f9dad;
  background-color: #bdddff;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
}

.month-header {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  background-color: #bdddff;
  line-height: 3rem;
  min-height: 3rem;
}
.month-header div {
  border: 0.25px solid #8f9dad;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.current-day {
  background: #9cbdfb;
}
