.event-day {
  background-color: #acd8ac;
  font-size: 0.75rem;
  z-index: 10;
  position: relative;
  top: -2.2rem;
}

.event {
  font-size: 1rem;
  padding-left: 3px;
  z-index: 10;
}

.event:hover,
.event-day:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.event::before {
  content: "▶";
  padding-right: 6px;
  color: green;
}

.event-list {
  list-style: none;
  padding: 0;
}

.day-event-list {
  display: flex;
  justify-content: flex-end;
}

.event-list-item {
  width: 95%;
  margin-right: 1%;
}
