.checkbox {
  margin-left: 1rem;
}

.error-message {
  color: rgb(102, 15, 37);
  font-size: 0.75rem;
  font-weight: bold;
}

.date-input {
  width: 13rem;
}

.time-input {
  width: 10rem;
}

.custom-footer {
  padding-right: 2rem;
}

.checkbox-form {
  display: flex;
  align-items: center;
}

.signup-form {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-form input {
  width: auto;
}
