.switcher-input {
  margin: 0 1rem;
  font-family: "Mali";
}
.nav-input {
  margin: 0 2rem;
}

select:focus {
  outline-color: #b4cada;
}

.switcher {
  padding: 0.5rem;
  border: none;
  background: inherit;
  color: #203763;
  font-size: 1.2rem;
}
