.switcher-input {
  margin: 0 1rem;
  font-family: "Mali";
}
.nav-input {
  margin: 0 2rem;
}

select:focus {
  outline: none;
}

.switcher:hover option {
  color: #203763;
}

.switcher {
  padding: 0.5rem;
  border: none;
  background: inherit;
  color: #203763;
  font-size: 1.2rem;
  -webkit-appearance: none;
  cursor: pointer;
}

.switcher:hover {
  color: #0056b3;
}
