.cell:hover,
.hour:hover {
  background-color: rgba(104, 170, 255, 0.6);
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.day {
  height: 7rem;
  flex: 1;
  border: 0.25px solid #c2cad4;
  cursor: pointer;
}

.day-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.current-day {
  background: #9cbdfb;
}

.not-current-month {
  background-color: #d1d6e0a4;
}

.disabled {
  pointer-events: none;
  color: #8f9dad;
}
